doctype html
html
  head
    title Iniciar Sesión
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/login.css")
  body
    .login-container
      h1.login-title Iniciar Sesión

      form(action="/login" method="post")
        .form-group
          label(for="username") Usuario:
          input#username.form-control(type="text" name="username" required placeholder="Ingrese su usuario")

        .form-group
          label(for="password") Contraseña:
          input#password.form-control(type="password" name="password" required placeholder="Ingrese su contraseña")

        button.btn.btn-primary(type="submit") Iniciar Sesión

      if error
        .alert.alert-danger #{error}
